/* так потрібно*/
*{
    margin: 0;
    padding: 0;
    color:white;
    user-select: none;
}
/* так потрібно*/


/* заготовкі*/
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 25px;
}
h4{
  font-size: 20px;
}
h5{
  font-size: 10px;}
body{
    background-color: black;
    
}
header{
    margin: 0 10PX 0 10PX;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid white;
    height: 12vh;
}
footer{
    border-top: 1px solid white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo{
  display: flex;
  align-self: center;
  justify-content: center;
  height: 10vh;
  width: 10vh;
}
.cart_img{
  height: 7vh;
  width: 7vh;
}
.header_txt{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  
}
.text_cart{
display: flex;
align-items: center;
justify-content: center;
}

/* заготовкі*/


/* початкова сторінка(index)*/


.in_element_in_footer{
  margin: 5vh 0px;
}
.in_elements_in_footer{
  margin: 0.5rem;
  margin-left: 2rem;
}



/* початкова сторінка(index)*/



/*головна сторінка(main)*/







.mn_slider{
height: 88vh
}




#mn_text_cart{
  display: flex;
  align-items: center;
}
#mn_logo{
  display: flex;
  align-self: center;
  justify-content: center;
}

.mn_Title_F{
  text-align: center;
  margin-top: 50px;
}

.mn_products{
  margin:100px 50px 50px;
  display: flex;
  flex-direction: column;
  grid-column: 30px;
}

.mn_line-1{
  display: flex;
  flex-direction: row;
  grid-row: 257px;
}

.mn_line-2{
  display: flex;
  flex-direction: row;
  grid-row: 257px;
  margin-top: 70px;
}

.mn_line-3{
  display: flex;
  flex-direction: row;
  grid-row: 257px;
  margin-top: 70px;
}

.mn_product1{
  border: 2px solid white;
  border-radius: 20px;
  width: 310px;
  height: 310px;
  justify-content: center;
}

.mn_product2{
  border: 2px solid white;
  border-radius: 20px;
  width: 310px;
  height: 310px;
  justify-content: center;
  margin-left: 257px;
}

.mn_product_img{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.mn_product1_img{
  max-width: 290px;
  border-radius: 20px;
}

.mn_price{
  margin-top: 30px;
}

.mn_product3{
  border: 2px solid white;
  border-radius: 20px;
  width: 310px;
  height: 310px;
  justify-content: center;
  margin-left: 257px;
}

.about_content{
  margin-left: 10px;
  margin-top: 10px;
}

.mn_add_to_cart{
  background-color: black;
  border: 1px solid white;
  border-radius: 10px;
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
}

/*головна сторінка(main)*/



/*корзина(cart)*/



/*корзина(cart)*/




























/*Слайдер НЕ ЧІПАТИ (працює і я хз як*/
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}
  
  body {
    
    font-family: Helvetica, Arial, sans-serif; 
}
  
  .slider {
    position: relative;
    height: 100vh; 
    }
    .slider__slides {
      z-index: 1;
      position: relative;
      height: 100%; 
    }
    .slider__control {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 5%;
      width: 60px;
      height: 60px;
      margin-left: -30px;
      margin-top: -30px;
      border-radius: 50%;
      background: #fff;
      transition: background-color 0.3s;
      cursor: pointer; 
    }
      .slider__control--right {
        left: 95%; 
    }
      .slider__control:hover {
        background-color: #2da6ff; 
    }
      .slider__control-line {
        position: absolute;
        left: 23px;
        top: 50%;
        width: 3px;
        height: 14px;
        transform-origin: 50% 0;
        transform: rotate(-45deg); 
        }
        .slider__control-line:nth-child(2) {
          transform: translateY(1px) rotate(-135deg); 
        }
        .slider__control--right .slider__control-line {
          left: 37px;
          transform-origin: 1px 0;
          transform: rotate(45deg); 
        }
          .slider__control--right .slider__control-line:nth-child(2) {
            transform: translateY(1px) rotate(135deg); 
        }
        .slider__control-line:after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #e2e2e2;
          transition: background-color 0.3s; 
        }
        .slider__control:hover .slider__control-line:after {
          background-color: #fff; 
        }
        .slider__control.a--rotation .slider__control-line:after {
          animation: arrowLineRotation 0.49s; 
        }
        .slider__control.a--rotation .slider__control-line:nth-child(1):after {
          animation: arrowLineRotationRev 0.49s; 
        }
  
  @keyframes arrowLineRotation {
    to {
      transform: rotate(180deg); 
    } }
  
  @keyframes arrowLineRotationRev {
    to {
      transform: rotate(-180deg); 
    } }
  
  .slide {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    transition: clip-path 0s 0.91s;
    clip-path: circle(30px at 120vw 50%); 
}
    .slide.s--prev {
      clip-path: circle(30px at 30vw 50%); 
    }
    .slide.s--active {
      z-index: 1;
      transition: clip-path 1.3s;
      clip-path: circle(120vmax at 120vw 50%); 
    }
      .slide.s--active.s--active-prev {
        clip-path: circle(120vmax at 30vw 50%); 
    }
    .slide:nth-child(1) .slide__inner {
      background-image: url(img/slayder1.jpg); 
    }
    .slide:nth-child(2) .slide__inner {
      background-image: url(img/slayder2.jpg); 
    }
    .slide:nth-child(3) .slide__inner {
      background-image: url(img/slayder3.jpg); 
    }
    .slide:nth-child(4) .slide__inner {
      background-image: url(img/slayder4.jpg); 
    }
    .slide:nth-child(5) .slide__inner {
      background-image: url(img/slayder5.jpg); 
    }
    .slide__inner {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100vw;
      height: 100vh;
      margin-left: -50vw;
      margin-top: -50vh;
      background-size: cover;
      background-position: center center; 
    }
      .slide__inner:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3); 
    }
    .slide__content {
      position: absolute;
      left: 5%;
      top: 50%;
      margin-left: -30px;
      margin-top: 48px;
      max-width: 480px;
      color: #fff; 
    }
    .slide__heading {
      margin-bottom: 20px;
      font-size: 60px; 
    }
    .slide__text {
      font-size: 25px; 
    }
      .slide__text a {
        color: inherit; 
    }
/*Слайдер НЕ ЧІПАТИ (працює і я хз як*/
  