*{
    margin: 0;
    padding: 0;
    color:white;
    user-select: none;
}

body{
    background-color: black;
    
}


header{
    margin: 0 10PX 0 10PX;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid white;
    height: 12vh;
}
footer{
    border-top: 1px solid white;
    height: 100px;
    margin: 100px;

}

h1{
    font-size: 20px;
}
h2{
    font-size: 30px;
}

h4{
    font-size: 5px;
}
h5{
    font-size: 2px;}

.logo{
    height: 10vh;
    width: 10vh;
    display: flex;
    align-self: center;
    justify-content: center;
}


.slider{
  height: 88vh
}

.cart_img{
    height: 7vh;
    width: 7vh;
    
}

.header_txt{
    display: flex;
    justify-content: center;
    align-items: center;
}


#text_cart{
  display: flex;
  align-items: center;
}
#logo{
  display: flex;
  align-self: center;
  justify-content: center;
}

.Title_F{
    text-align: center;
    margin-top: 15px;
}



.product1{
    border: 2px solid white;
    border-radius: 20px;
    width: 210px;
    height: 210px;
    justify-content: center;
}

.product1_img{
    max-width: 200px;
    border-radius: 20px;
    align-self: center;
}

